.profile__profession {
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: auto;
}


@media screen and (max-width: 917px) {
    .profile__profession {
        font-size: 14px;
        margin: 0 auto 0 auto;
    }
}

@media screen and (min-width: 918px) {
    .profile__profession {
        font-size: 18px;
    }
}