.header {
    margin: auto;
    max-width: 880px;
    border-bottom: #545454;
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    height: auto;
    box-sizing: content-box;
}

@media screen and (min-width: 918px) {
    .header {
        width: 880px;
    }
}

@media screen and (max-width: 917px) {
    .header {
        width: 100%;
    }
}