.profile__text {
    max-width: 556px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}


@media screen and (max-width: 917px) {
    .profile__text {
        max-width: 282px;
        margin-bottom: 14px;
    }
}