.profile__text {
    max-width: 556px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}


@media screen and (max-width: 917px) {
    .profile__text {
        max-width: 581px;
        margin-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 618px) {
    .profile__text {
        max-width: 282px;
    }
}