
.elements {
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 880px;
    min-width: 282px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    row-gap: 20px;
    column-gap: 17px;
    text-align: center;

}

@media screen and (max-width: 917px) {
    .elements {
        max-width: 581px;
        margin-top: 36px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 618px) {
    .elements {
        max-width: 282px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 918px) {
    .elements {
        max-width: 880px;
        margin-top: 50px;
        grid-template-columns: repeat(3, 1fr);
    }
}