.profile__name {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 514px;
    font-weight: 500;
   
}

@media screen and (max-width: 917px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}


@media screen and (min-width: 918px) {
    .profile__name {
        font-size: 42px;
        line-height: 48px;
    }
}
