.profile__name {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden; 
    
   
}

@media screen and (max-width: 917px) {
    .profile__name {
        font-size: 27px;
        font-weight: 500;
        line-height: normal;
        max-width: 514px;
    }
}


@media screen and (min-width: 918px) {
    .profile__name {
        font-size: 42px;
        font-weight: 500;
        line-height: 48px;
        max-width: 514px;
    }
}

.profile__text {
    max-width: 556px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}


@media screen and (max-width: 917px) {
    .profile__text {
        max-width: 282px;
        display: flex;
        justify-content: row;
        align-items: center;
        margin-bottom: 14px;
    }
}