.footer {
    font-weight: 400;
    color: #545454;
}

@media screen and (min-width: 918px) {
    .footer {
        width: 880px;
        margin: 66px auto 60px auto;
        font-size: 18px;
        line-height: normal;
        
    }
}

@media screen and (max-width: 917px) {
    .footer {
        width: 100%;
        font-size: 14px;
        line-height: normal;
        margin: 48px auto 36px 19px;
    }
}