
.element__box-image {
    width: 282px;
    height: 282px;
    box-sizing: content-box;
    background-position: center;
    position: relative;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    vertical-align: top;
    cursor: pointer;
}
